.app{
  min-height: 100vh;
  background-color: rgb(160, 186, 204);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box{
  height: 300px;
  width: 300px;
  border-radius: 12px;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}
